/* #5da1fa */
.footer {
  background-color: #5da1fa;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  /* top: 10vh; */
  /* margin-top: 20vh; */
  padding: 0px;
  /* align-self: center; */
}

.footer div {
  padding-top: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
}
.icons span {
  margin-right: 10px;
  margin-bottom: 10px;
}
/* #fb :hover { */
/* border-radius: 10px; */
/* background-color: white; */
/* color: #019fd6;
} */
#fb:hover {
  color: #4267b2;
}
#linkedin:hover {
  color: #0073b0;
}
#gmail:hover {
  color: #d44a3d;
}
