.jobCardsRoot {
  /* border: 4px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.jobCardAction {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  margin: 20px;
}
/* .jobCardImg {
  width: auto;
  height: auto;
} */

.jobCard {
  margin: 10px;
  box-shadow: none;
  border: 0.1px solid #dbdbdd;
  margin-top: 20px;
  margin-bottom: 20px;
}
.jobCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
}
.completedStatus {
  /* position: relative; */
  padding: 5px;
  display: flex;
  justify-content: center;
  height: 5vh;
  font-size: medium;
  background-color: green;
  color: white;
}
