.myNav {
  /* border: 4px solid black; */
  background-color: #5da1fa;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  /* background-color: #32a84e !important; */
  font-size: large;

  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
}
/* .navColour {
  color: white;
} */

/* .bg-light {

} */
.myNav a {
  color: white;
}

.myNav li {
  list-style: none;
}

#navTogglerIcon {
  color: white;
}

.navItem a:hover {
  /* color: white !important; */
  background-color: white;
  color: #5da1fa;
}
